<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="{{url_for("static", filename="styles.css")}}" />
   <title>{%block title %}SmartDesk{% endblock %}</title>
</head>
<body>
   
   <header>
      <div>
        <nav>
          <a href="#">Home</a>
          <a href="#">Clients</a>
          <a href="#">Blog</a>
          <a href="#">Book Online</a>
          <a href="#">Plan & Pricing</a>
          <a href="#">Program List</a>
          <a href="#">Contact Us</a>
        </nav>
      </div>
      <div>
        <button>Sign In</button>
        <select>
          <option>Register</option>
          <option>Login</option>
        </select>
      </div>
    </header>
   {% block content %}
   {% endblock %}
   
   
</body>
</html>
