<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="{{url_for("static", filename="styles.css")}}" />
    <title>SmartDesk</title>

  </head>
  <body>
    <header>
      <div>
        <nav>
          <a href="#">Product</a>
          <a href="#">Solutions</a>
          <a href="#">Benefits</a>
          <a href="#">Services</a>
          <a href="#">Resources</a>
          <a href="#">Company</a>
          <a href="#">Pricing</a>
          <a href="#">Contact Us</a>
        </nav>
      </div>
      <div>
        <button>Sign In</button>
        <select>
          <option>Register</option>
          <option>Login</option>
        </select>
      </div>
    </header>
    <main>
      <h1>Consistently Best Rated School Management System</h1>
      <p>SmartDesk School Management System with everything you need, all brought together.</p>
      <p>
        SmartDesk School Management System is designed to streamline operations, enhance academic delivery, and foster a vibrant educational community.
      </p>
      <p>
        Classter is a SMS that adapts to your workflows and helps educational institutions meet the demands of contemporary education, ensuring administrators, educators, and students thrive in a supportive and efficient environment.
      </p>
    </main>
    <footer>
      <div></div>
      <div></div>
      <div></div>
    </footer>
  </body>
</html>
