{% extends "base.html" %}
{% block title %} Index Page {% endblock %}

{% block content %}
    
    <main>
      <h1>Consistently Best Rated School Management System</h1>
      <p>SmartDesk School Management System with everything you need, all brought together.</p>
      <p>
        SmartDesk School Management System is designed to streamline operations, enhance academic delivery, and foster a vibrant educational community.
      </p>
      <p>
        Classter is a SMS that adapts to your workflows and helps educational institutions meet the demands of contemporary education, ensuring administrators, educators, and students thrive in a supportive and efficient environment.
      </p>
    </main>
    
{% endblock %}